.idea
.DS_Store

frames/*
Datasets/HockeyFights/*
Datasets/Movies/*
Datasets/violence-detection-dataset/*
Datasets/violence_dataset_pictures/*

Tests/*
results/*

videos/*

__pycache__/*

best_model.h5

